/* 
    Document   : stylesheet
    Created on : Jul 31, 2013, 1:24:37 PM
    Author     : lowkeylukey
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

table, th, td{
    margin: auto;
    text-align: center;
}

.subTable {
    border: 1px solid #ddd !important;
}

#gameframe {
    height: 450px; 
    width: 450px; 
    text-align:center; 
    margin:auto;
    background-color: white;
}
#gameframe td {
    padding: 0px;
    height: 50px;
    width: 50px;   
}



input[type="text"], input[type="password"], td {
    text-align: center;
}

body {
    font-family: 'Century Gothic';
    text-align: center;
}

.heading, .heading1 {
    text-transform: uppercase;
}

heading1 {
    font-stretch: ultra-expanded;
}

.padBottom {
    padding-bottom: 25px;
}

.padBottom2 {
    padding-bottom: 150px;
}

.gameList {
    width: 70%;
}