/* 
    Document   : stylesheet
    Created on : Jul 31, 2013, 1:24:37 PM
    Author     : lowkeylukey
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

table {
    margin: auto;
}

#gameframe {
    height: 450px; 
    width: 450px; 
    text-align:center; 
    margin:auto;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}
#gameframe td {
    padding: 0px;
    height: 50px;
    width: 50px;   
}

#gameframe td td {
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: linear-gradient(bottom, rgba(242,246,248,1) 0%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}

input[type="text"], input[type="password"], td {
    text-align: center;
}

body {
    font-family: 'Century Gothic';
}

.heading {
    text-transform: uppercase;
}

.padBottom {
    padding-bottom: 25px;
}