/* 
    Document   : stylesheet
    Created on : Jul 31, 2013, 1:24:37 PM
    Author     : lowkeylukey
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

table, th, td{
    margin: auto;
    text-align: center;
}

.subTable {
    border: 1px solid #ddd !important;
}

#gameframe {
    height: 450px; 
    width: 450px; 
    text-align:center; 
    margin:auto;
    background-color: white;
}
#gameframe td {
    padding: 0px;
    height: 50px;
    width: 50px;   
}

#gameList {
    width: 300px;
    height: 300px;
}

#myfriends, #myrequests {
    height: 150px;
}

input[type="text"], input[type="password"], option, td {
    text-align: center;
}

body {
    font-family: 'Century Gothic';
    font-size: 12px;
    text-align: center;
}

.heading, .heading1 {
    text-transform: uppercase;
}

.heading, .heading2 {
    font-weight: bold;
}
heading1 {
    font-stretch: ultra-expanded;
}

.alert-warning, .alert-danger, .alert-info, .alert-success {
    font-style: italic;
    font-size: 10px;
}

.padBottom {
    padding-bottom: 25px;
}

.padBottom2 {
    padding-bottom: 150px;
}

.padTop {
    padding-top: 150px;
}

.formPadding {
    padding-bottom: 5px;
    padding-top: 5px;
}

.gameList {
    width: 70%;
}

.fadeGameButton {
    opacity: 0.15;
}

.recentMove {
    opacity: 1;
}

.gameButton {
    padding: 5px 5px 5px 5px;
}
