<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>capstone.server.SessionCleanupService</listener-class>
    </listener>
    <servlet>
        <servlet-name>PlayerJoin</servlet-name>
        <servlet-class>capstone.server.PlayerJoin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendManager</servlet-name>
        <servlet-class>capstone.server.FriendManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileManager</servlet-name>
        <servlet-class>capstone.server.ProfileManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPublicGames</servlet-name>
        <servlet-class>capstone.server.GetPublicGames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookManager</servlet-name>
        <servlet-class>capstone.server.FacebookManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPrivateGames</servlet-name>
        <servlet-class>capstone.server.GetPrivateGames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleManager</servlet-name>
        <servlet-class>capstone.server.GoogleManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SocialLogin</servlet-name>
        <servlet-class>capstone.server.SocialLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivateGameMatch</servlet-name>
        <servlet-class>capstone.server.PrivateGameMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleFriends</servlet-name>
        <servlet-class>capstone.server.GoogleFriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendPrivateGameInvite</servlet-name>
        <servlet-class>capstone.server.SendPrivateGameInvite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameInvites</servlet-name>
        <servlet-class>capstone.server.GameInvites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptPrivateGameInvite</servlet-name>
        <servlet-class>capstone.server.AcceptPrivateGameInvite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinPrivateGame</servlet-name>
        <servlet-class>capstone.server.JoinPrivateGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookFriends</servlet-name>
        <servlet-class>capstone.server.FacebookFriends</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSource</servlet-name>
        <servlet-class>capstone.server.GetSource</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBots</servlet-name>
        <servlet-class>capstone.server.GetBots</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayerJoin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Leave</servlet-name>
        <servlet-class>capstone.server.Leave</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Leave</servlet-name>
        <url-pattern>/leave</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Join</servlet-name>
        <servlet-class>capstone.server.GameJoin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Join</servlet-name>
        <url-pattern>/join</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GameCreate</servlet-name>
        <servlet-class>capstone.server.GameCreate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameCreate</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GameRecordGet</servlet-name>
        <servlet-class>capstone.server.GameRecordGet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameRecordGet</servlet-name>
        <url-pattern>/GameRecordGet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GameStateGet</servlet-name>
        <servlet-class>capstone.server.GameStateGet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameStateGet</servlet-name>
        <url-pattern>/state</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MakeMove</servlet-name>
        <servlet-class>capstone.server.MakeMove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CodeSubmit</servlet-name>
        <servlet-class>capstone.server.CodeSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeMove</servlet-name>
        <url-pattern>/move</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendManager</servlet-name>
        <url-pattern>/FriendManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileManager</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPublicGames</servlet-name>
        <url-pattern>/GetPublicGames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookManager</servlet-name>
        <url-pattern>/facebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPrivateGames</servlet-name>
        <url-pattern>/GetPrivateGames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleManager</servlet-name>
        <url-pattern>/google</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SocialLogin</servlet-name>
        <url-pattern>/SocialLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivateGameMatch</servlet-name>
        <url-pattern>/match</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleFriends</servlet-name>
        <url-pattern>/GoogleFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendPrivateGameInvite</servlet-name>
        <url-pattern>/SendPrivateGameInvite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameInvites</servlet-name>
        <url-pattern>/GameInvites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptPrivateGameInvite</servlet-name>
        <url-pattern>/AcceptPrivateGameInvite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinPrivateGame</servlet-name>
        <url-pattern>/JoinPrivateGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookFriends</servlet-name>
        <url-pattern>/FacebookFriends</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSource</servlet-name>
        <url-pattern>/getsource</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodeSubmit</servlet-name>
        <url-pattern>/codesubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBots</servlet-name>
        <url-pattern>/GetBots</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
